body{
	background: #C54325;
	font-family: 'Lato', sans-serif;
}

@media (min-width: 768px){
	.navbar {
     border-radius: 0px;
	}	
}
.navbar a.banner{
	font-size: 18px;
	color: #92341e;
	font-weight: bold;
}
.navbar a.banner:hover{
	color: #B14F38;
}
.fa-btn{
	margin-right: 6px;
}
h3.titulo{
	color: #fff;
}
